priority -50

snippet IncludeComponent "IncludeComponent"
$APPLICATION->IncludeComponent('${1:componentName}', '${2:templateName}', array(), false);
endsnippet

snippet includeModule "IncludeModule"
use Bitrix\Main\Loader;
if (!Loader::includeModule('${1:moduleName}')){
	${2:code_here}
}
endsnippet

snippet Loader "IncludeModule"
use Bitrix\Main\Loader;
if (!Loader::includeModule('${1:moduleName}')){
	${2:code_here}
}
endsnippet
